<h1> Modifier un moussaillon </h1>

<%= form_for @moussaillon do |m| %>

  <%= m.label :username %>:
  <%= m.text_field :username, placeholder: "Username" %><br />


  <%= m.label :email %>:
  <%= m.text_field :email, placeholder: "Email" %><br />

  <%= m.label :bio %>:
  <%= m.text_field :bio, placeholder: "Bio" %><br />

  <%= m.submit %>
<% end %>

  <%= link_to "Supprimer", moussaillon_path(@moussaillon), method: "DELETE" %>
